@import url('/reset.css');

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@100..700&display=swap');

:root {
    --text: #ffffff;
    --background: #1d1d1d;
    --primary: #4893ef;
    --secondary: #355bad;
    --accent: #1579eb;
    --font: 'M PLUS Code Latin';
    --page-margin: 20%;

    font-family: var(--font);
    color: var(--text);
}

body {
    background-color: var(--background);
    margin-top: 10%;
    margin-left: var(--page-margin);
    margin-right: var(--page-margin);
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/baseplate-texture.png');
    background-repeat: repeat;
    background-size: 100px;
    opacity: 0.02;
    pointer-events: none;
}

.text-center {
    text-align: center;
}

h1 {
    font-size: 4em;
}
h2 {
    font-size: 2.5em;
}

button, a {
    cursor: pointer;
}